@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Belanosima';
  src: url('@fonts/Belanosima-Bold.ttf');
}
@font-face {
  font-family: 'ComingSoon';
  src: url('@fonts/ComingSoon-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('@fonts/Inter-VariableFont_opsz,wght.ttf');
}
@font-face {
  font-family: 'Righteous';
  src: url('@fonts/Righteous-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('@fonts/Roboto-Black.ttf');
}

.titleShadow{
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.39);
}

.blinking{
  animation: blinking 1s ease infinite alternate forwards;
}

@keyframes blinking {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}